accelerate==1.8.0
datasets==3.2.0
fire==0.7.0
transformers==4.54.0
torch==2.6.0
pillow==11.1.0
numpy==1.26.4
deepspeed
Levenshtein
tqdm
wandb
pyparsing
zss
musicdiff @ git+ssh://git@github.com/guang-yng/efficient-musicdiff.git